/output/assets/
/output/*.html
/trash/

*~
\#*\#
.DS_Store
dist/
dist-newstyle/
*.o
*.hi
*.dyn_o
*.dyn_hi
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
.stack-work/
stack*.yaml.lock

*.aux
*.log
*.ptb
*.fls
*.fdb_latexmk

*.agdai

# generated .cabal files
/lout/assets/exams/2014-08/exam2014aug.cabal
/lout/assets/exams/2014-03/exam2014mar.cabal
